<% content_for :page_header do %>
  Cohorts
<% end %>

<% content_for :page_header_action do %>
  <% if current_user.admin? %>
    <%= link_to "New Cohort", new_admin_cohort_path, class: "button is-primary" %>
  <% end %>
<% end %>

<div class="table-container">
  <table class="table is-fullwidth is-striped is-hoverable">
    <thead class="thead">
      <tr class="tr">
        <th class="th">Name</th>
        <th class="th" colspan="3"></th>
      </tr>
    </thead>
    
    <tbody class="tbody">
      <% @cohorts.each do |cohort| %>
        <tr class="tr">
          <td class="td">
            <%= link_to cohort.name, cohort_path(cohort) %>
          </td>

          <td class="td"><%= link_to 'Edit', edit_admin_cohort_path(cohort) if current_user.admin? %></td>
          <td class="td"><%= link_to 'Delete', admin_cohort_path(cohort), method: :delete, data: { confirm: 'Are you sure?' } if current_user.admin? %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>