<% content_for :page_header do %>
  Outreach Events
<% end %>

<% content_for :page_header_action do %>

    <h4 class="heading mr-1 mb-0">Total<br/>Hours</h4>
    <div class="pill is-yellow mr-4"><%= @outreach_events.sum(:duration_in_minutes) / 60 %> hours <%= @outreach_events.sum(:duration_in_minutes) % 60 %> minutes</div>

    <%= link_to 'New Outreach Event', new_outreach_event_path, class: "button is-primary" %>

<% end %>

<%= render partial: "facilitator/outreach_events/outreach_events_list", locals: {outreach_events: @outreach_events} %>
