<div>
  <% users.each_with_index do |user, index| %>
    <% if index % User::INDEX_TILES_PER_ROW == 0 %>
      <div class="tile is-ancestor">
    <% end %>
        <div class="tile is-parent is-<%= (12 / User::INDEX_TILES_PER_ROW).to_s %>">
          <%= render partial: "user_card", locals: {user: user} %>
        </div>
    <% if index % User::INDEX_TILES_PER_ROW == User::INDEX_TILES_PER_ROW - 1 %>
      </div>
    <% end %> 
  <% end %>
</div>