.mr-1 {
  margin-right: $space-1;
}

.mr-4 {
  margin-right: $space-4;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: $space-1;
}

.mb-3 {
  margin-bottom: $space-3;
}

.mb-5 {
  margin-bottom: $space-5;
}
