<footer class="footer is-spaced <%= navbar_user_class %>">
  <div class="content has-text-centered">
    <p>
      <a href="https://www.instagram.com/masterrecyclervancouver/">Instagram</a>
      </br><a href="http://www.masterrecyclervancouver.ca/">Master Recycler Vancouver</a>
      </br>
      </br>Made with &hearts; by Stephanie Chuo-Lee and Stavroula Theophanous.
      </br>Copyright &copy; <%= Time.current.year %>.
    </p>
  </div>
</footer>