<nav class="subnav level">
  <div class="level-left">
    <div class="level-item">
      <%= link_to :back, class: "button" do %>
        <span class="icon">
          <i class="fas fa-angle-left"></i>
        </span> Back
      <% end %>
    </div>
  </div>

  <div class="level-right">
  </div>
</nav>