<% content_for :page_header do %>
  Outreach Event Types
<% end %>


<% content_for :page_header_action do %>
    <%= link_to 'New Outreach Event Type', new_admin_outreach_event_type_path, class: "button is-primary" %>
<% end %>

<div class="table-container">
  <table class="table is-fullwidth is-striped is-hoverable">
    <thead class="thead">
      <tr class="tr">
        <th class="th">Name</th>
        <th class="th"></th>
      </tr>
    </thead>

    <tbody class="tbody">
      <% @outreach_event_types.each do |oet| %>
        <tr class="tr">
          <td class="td">
            <%= oet.name %>
          </td>
          <td class="td">
            <%= link_to "Edit", edit_admin_outreach_event_type_path(oet)  %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%# link_to 'Back', admin_outreach_event_types_path %>