<% content_for :page_header do %>
  Outreach Events
<% end %>

<% content_for :page_header_action do %>
  <%= link_to 'New Outreach Event', new_outreach_event_path, class: "button is-primary" %>
<% end %>

<h4 class="heading is-inline-block">Total Hours</h4>
<div class="pill"><%= @outreach_events.sum(:duration_in_minutes) / 60.0 %></div>

<%= render partial: "outreach_events_list", locals: {outreach_events: @outreach_events} %>
