.navbar {
  border-bottom: 1px solid var(--black);

  &--admin {
    background-color: var(--dark-grey);
    .navbar-item {
      color: white;
    }
  }

  &--student {
    background-color: var(--brand-green);
  }
}

// .nav-item {
//   color: white;
// }